# Backend MongoDB Configuration
# Local MongoDB:
MONGODB_URI=mongodb://localhost:27017
# MongoDB Atlas (Cloud):
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/qubitcraft?retryWrites=true&w=majority

MONGODB_DB_NAME=qubitcraft

# AI Tutor Groq Model / Key (Optional)
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=openai/gpt-oss-120b
